section{
    height: 350px;
    width: 350px;
    margin: 130px auto;
    border: 2px solid gray;
    box-sizing: content-box;
    background-color: rgb(161, 155, 155);
    display: grid;
    padding: 30px;
    grid-gap: 10px 10px;
   
}


.div1{
    grid-column: 1/5;
    background-color:white;
    border-radius:5px ;
    box-shadow: 0px 0px 10px black ;
    border-top: 2px solid gray;
    border-right:2px solid gray ;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    border-radius: 5px;
}
.div2{
   grid-column: 1/2;
   grid-row: 2/3;
   background-color:white;
   border-radius: 5px;
}
.div3{
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: white;
    border-radius: 5px;
}
.div4{
    grid-column: 3/4;
    grid-row: 2/3;
    background-color: white;
    border-radius: 5px;
}
.div5{
    grid-column: 4/5;
    grid-row: 2/3;
    background-color: black;
    border-radius: 5px;
}
.div6{
    grid-column: 1/2;
    grid-row: 3/4;
    background-color: white;
    border-radius: 5px;
}
.div7{
    grid-column: 2/3;
    grid-row: 3/4;
    background-color: white;
    border-radius: 5px;
}
.div8{
    grid-column: 3/4;
    grid-row: 3/4;
    background-color: white;
    border-radius: 5px;
}
.div9{
    grid-column: 4/5;
    grid-row: 3/4;
    background-color: black;
    border-radius: 5px;
}
.div10{
    grid-column: 1/2;
    grid-row: 4/5;
    background-color: white;
    border-radius: 5px;
}
.div11{
    grid-column: 2/3;
    grid-row: 4/5;
    background-color: white;
    border-radius: 5px;
}
.div12{
    grid-column: 3/4;
    grid-row: 4/5;
    background-color: white;
    border-radius: 5px;
}
.div13{
    grid-column: 4/5;
    grid-row: 4/5;
    background-color: black;
    border-radius: 5px;
}
.div14{
    grid-column: 1/2;
    grid-row: 5/6;
    background-color: red;
    border-radius: 5px;
}
.div15{
    grid-column: 2/3;
    grid-row: 5/6;
    background-color: white;
    border-radius: 5px;
}
.div16{
    grid-column: 3/4;
    grid-row: 5/6;
    background-color: white;
    border-radius: 5px;
}
.div17{
    grid-column: 4/5;
    grid-row: 5/6;
    background-color: black;
    border-radius: 5px;
}
p{
   text-align: center;
   font-size: large;

}
button{
    border-radius: 5px;
}

input{
    height:55px ;
    width: 350px;
}





